.paragraph{
    background-color: black;
    color: aqua;
    padding: 5px;
}
/* ids */
#exclusive-title{
    background-color: rgb(219, 7, 219);
    color: gold;
    border-radius: 100px;
    padding: 5px;
}
/* ordem das regras do css */
h2{
    border-bottom: 2px solid red;
}
.titulo{
    border-bottom: 4px solid rgb(140, 46, 235);
}
#algum-titulo{
    border-bottom: 8px solid green;
}
/* nome de cores */
.color-name{
    color:cornflowerblue
}
.color-hexa{
    color: #55a398
}
.color-hexa2{
    color: #89e377;
}

/* aprofundando em hex */
.simple-hex{
    color: #333;/*#33333*/
}
.simple-hex2{
    color: #a5f; /*#aa55ff*/
}
/* rgb e rgba */
.rgb{
    color: rgb(182, 78, 78);
}
.rgba{
    color: rgba(100, 55, 15, 0.31);

}
/* hsl */
.hsl{
color: hsl(100, 56%, 50%);
}
.hsl2{
color: hsl(50, 4%, 34%);
}

/* background color*/
.bgc {
background-color: #3a33;
color: rgb(0, 255, 191);
}

.bgc-2 {
background-color: #534398;
color: #a5f3;
}
/* background opacity */

.bg-opa{
background-color: rgb(17, 0, 255);
opacity: 0.6;
}

.bg-opa2{
background-color: rgb(0, 255, 0);
opacity: 0.3;
}
/* opacidade difereto no background */
.rgba-opacity{
background-color: rgba(20, 224, 224, 0.445);
color: #000000;
}
/* imagem no background */
.bg-image{
    background-image: url("../img/ğ˜¤ğ˜³ğ˜¦ğ˜¥ğ˜ªğ˜µ_\ ğ˜§ğ˜¢ğ˜ºğ˜¦ğ˜£ğ˜¦ğ˜­ğ˜­_ğ˜¤ğ˜°ğ˜®.jpeg");
    padding: 0.2;

}
/* imagem no bg nao centralizada  */
.not-centered,.centered-bg{
height: 400px;
width: 400px;
background-image: url("../img/ğ˜¤ğ˜³ğ˜¦ğ˜¥ğ˜ªğ˜µ_\ ğ˜§ğ˜¢ğ˜ºğ˜¦ğ˜£ğ˜¦ğ˜­ğ˜­_ğ˜¤ğ˜°ğ˜®.jpeg");
}

.centered-bg{
    background-position: center;
    background-size: cover ;
}
.height-width{
    height: 200px;
    width: 100px;
    background-color: red
}
.heigth-width-2{
height: 300px;
background-color: #333;
}
/* 23padding */
.withoutpadding,.padding{
    background-color: #111;
    color: #fff;
}
.padding{
    background-color: #333;
    padding: 20px;
    border: 1px solid #fff;
}
.padding-individual{
    background-color: #222;
    color: #fff;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
/* shorthand properties */
.padding-shorthand,.padding-shorthand-2{
    background-color: #5f5f5f;
color: #5500b6;
}
.padding-shorthand{
padding: 10px 5px 12px 20px;

}
/* ou */
.padding-shorthand-2{
    padding: 10px 20px;
    /* padding: 10px 20px 10px 20px */
}
/* padding com width */
.without-border-box{
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50px;

}
.border-box{
    background-color: #666;
    color: #fff;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

.border{
    padding: 10px;
    border: 2px solid #000000;
}
.border-box2{
    border: 5px dotted #534398;
    padding: 10px;
}
/* borda individual */
.border-left,.border-right,.border-top,.border-bottom{
    background-color: #333;
padding: 4px;
}
.border-left{
border-left: 3px solid rebeccapurple;
}
.border-right{
    border-right: 3px solid red;
}
.border-top{
    border-top: 4px dotted green;
}
.border-bottom{
    border-bottom: 1px dotted blue;
}
/* borda arredondada */
.border-radious{
    border: 1px solid black;
    border-radius: 10px;
}
.border-radious2{
background-color: #534398;
    border-radius: 200px;
    padding: 50px;
}
/* margin */
.margin{
    margin: 10px;
    background-color: #111;
    color: #534398;
}
.margin-top{
    margin-top: 10px;
    background-color: #55a398;
    padding: 10px;
}
.margin-shorthand{
    color: white;
    background-color: #000000;
    margin: 10px 5px 20px 30px
}
/* box mdoel */
.box-model{
    margin: 20px;
    padding: 15px 25px;
    border: 2px solid #777;
    border-radius: 6px;
    width: 200px;
    height: 400px;
}